@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display:ital@1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.bodyContainer{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
}
.titleheader{
    font-weight: bold;
}

.divPosition{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: #ffff;
    justify-content: space-around;
}
.text-decoration{
    text-decoration: none;
    color: rgb(53, 48, 48);
    text-align: center;
}
.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}