.Title{
    text-align: center;
}
.titleHeading{
    text-align: center;
    margin-top: 30px;
}
.titleContainer{
    color: #030103;
}
.linkContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.linkForm{
    width: 600px;
    padding: 10px;
    background-color: rgb(198, 178, 217);
    box-shadow: 0 0 5px 3px rgb(163, 132, 192);
}
.LinkInput{
    font-size: 17px;
    display: block;
    width: 400px;
    margin: 40px auto;
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px 1px rgb(97, 93, 93);  
}
.linkBtn{
    font-size: 17px;
    border-radius: 50px;
    padding: 8px 20px;
    display: block;
    border: none;
    margin: 0 auto;
    background-color: rgb(131, 19, 230);
    color: white;
    margin-bottom: 20px ;
}
.allLinkContainer{
    width: 700px;
    padding: 10px;
    background-color: rgb(198, 178, 217);
    box-shadow: 0 0 5px 3px rgb(163, 132, 192);
    max-height: 420px;
    overflow-y: scroll ;
    overflow-x: hidden;
}
.titleContainer{
    text-align: center;
    margin-top: 1px;
}