.nav-sec{
    margin-left: auto;
}
.logOutButton{
    cursor: pointer;
}
.LogoImg{
    height: 30px;

}
.Title{
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    color: rgb(85, 84, 92);
}
.subheading{
    text-align: center;
    margin: auto 500px;
    color: rgb(85, 84, 92);
    font-weight: bold;
}
.setMargin{
    margin: auto 80px;
    margin-left: 100px;
}
.fontSize{
    font-size: 20px;
}