.nav-sec{
    margin-left: auto;
}
.logOutButton{
    cursor: pointer;
}
.LogoImg{
    height: 50px;

}
.Title{
    align-items: center;
}
.subheading{
    text-align: center;
    margin: auto 500px;
    color: rgb(127, 8, 239);
}