@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display:ital@1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.bodyContainer{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.nav-sec{
    margin-left: auto;
}
.logOutButton{
    cursor: pointer;
}
.LogoImg{
    height: 30px;
}
.Title{
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    color: rgb(85, 84, 92);
}
.subheading{
    text-align: center;
    margin: auto 500px;
    color: rgb(85, 84, 92);
    font-weight: bold;
}
.setMargin{
    margin: auto 80px;
    margin-left: 100px;
}
.fontSize{
    font-size: 20px;
}
